* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(17, 24, 39);
    color: #fff;
}

nav {
    display: flex;
    justify-content: right;
    padding: 25px 16px;
    align-items: center;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 22px;
    font-size: 20px;
    align-items: center;
}

.menu {
   display: none;
}

.home {
    background-color: rgb(100, 100, 224);
    padding: 6px 12px;
    border-radius: 18px;
}

.intro-container {
    display: flex;
    justify-content: center;
    margin: 12px 50px;
    padding: 48px;
}

.h2-intro {
    font-size: 35px;
    margin-top: 120px;
}

.waving-hand {
    width: 45px;
    height: 40px;
}

.name {
    font-size: 60px;
}

.job-title {
    color: rgb(197, 197, 89);
    font-size: 35px;
    margin-top: 15px;
}

.dev-info {
    margin-right: 35px;
}

.pc-image-intro {
    width: 410px;
    height: 420px;
}


.projects-container {
    margin-top: 55px;
}

.projects-heading {
    text-align: center;
    font-size: 40px;
}

 .horizontal-line {
    height: 10px;
    width: 135px;
    background-color: blue;
    border-radius: 20px;
    margin-bottom: 20px;
    margin: 5px auto;
} 

.pc-image {
    width: 280px;
    height: 260px;
}

.project-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 25px;
  }
  
.project {
margin: 10px;
text-align: center;
}

footer {
margin-top: 20px;
}

.contact-me {
text-align: center;
}

.horizontal-line-contact {
    height: 10px;
    width: 155px;
    background-color: blue;
    border-radius: 20px;
    margin-bottom: 20px;
    margin: 5px auto;
} 

.socials-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: rgb(17, 24, 39);
}

.socials-img {
    width: 32px;
    height: 32px;
}

.outlook {
    width: 55px;
    height: 55px;
}


@media screen and (max-width: 576px) {
         
 
 .nav-list   {
    display: none;
   }

   .menu {
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 50px;
    height: 50px;
    padding: 15px;
 }

  .intro-container {
    display: flex;
    flex-direction: column;
  }

  .pc-image-intro {
    width: 60vw;
  }

  .h2-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

 .projects-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
 }
}

